<div class="splash">
  <div class="splash__content">
    <h3 class="splash__header">Snapscan</h3>
    <div class="splash__buttons">
      <%= link_to "LOG IN", new_user_session_path, class:"splash__button active" %>
      <%= link_to "SIGN UP", new_user_registration_path, class:"splash__button" %>
    </div>
  </div>
</div>