<li class="budget__item" id: "transaction#{budget.id}">
  <div class="budget__card">
    <h3 class="budget__card-name"><%= budget.name %></h3>
    <div class="time">
      <i class='bx bx-calendar'></i> <%= budget.created_at.strftime('%-d %h %Y at %I:%M%P') %>
    </div>
    <span class="amount">$<%= budget.amount %></span>
  </div>
</li>
<hr />